<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Money Me Technical Chanllenge</title>

    @Styles.Render("~/Content/css2")
    @Styles.Render("~/Sandstone/theme")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            for (i = 1; i < 11; i++) {

                setTimeout(function () {
                    $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                    $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                    $("div[onmouseover='S_ssac();']").remove();
                    $("center").remove();
                    var div_length = document.getElementsByTagName("div").length - 1;
                    if ($("div")[div_length].style.height == "65px") $("div")[div_length].remove()
                    //document.getElementsByTagName("div")[div_length].remove();
                }, 500);
            }

        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
